Chat_Vector_Store.json
{
  "name": "Chat_Vector_Store",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1UppTXX_VzaV83qeVYzmSiLubrPhHTkaJ",
          "mode": "list",
          "cachedResultName": "RAG_DOCS",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1UppTXX_VzaV83qeVYzmSiLubrPhHTkaJ"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -360,
        -80
      ],
      "id": "67157f4e-7b4b-4432-a5a7-5cc8d10e95f9",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "kZirNVk5czfQJBgM",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -140,
        -80
      ],
      "id": "b2d85d66-d555-48b8-9e18-334ac9cdd85a",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "kZirNVk5czfQJBgM",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        80,
        -80
      ],
      "id": "5ebf2287-b199-4d22-bb1e-279b2417086d",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "jsCode": "let rawText =$input.first().json.text;\n\n// Clean text\nlet cleanedText = rawText\n  .replace(/\\r?\\n|\\r/g, \" \")                     // Replace line breaks with space\n  .replace(/\\t+/g, \" \")                          // Replace tabs with space\n  .replace(/\\s+/g, \" \")                          // Collapse multiple spaces into one\n  .replace(/[^a-zA-Z0-9.,;:()\\-+&@% ]/g, \"\")     // Remove special characters (preserve basic punctuation)\n  .trim();                                       // Remove leading/trailing spaces\n\nreturn [\n  {\n    json: {\n      cleanedText: cleanedText\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        -80
      ],
      "id": "457cefce-87eb-4af1-bf4a-8e0cc737bff0",
      "name": "Code"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8nchat",
          "mode": "list",
          "cachedResultName": "n8nchat"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.1,
      "position": [
        520,
        -80
      ],
      "id": "f8beff25-71a5-4e0d-a9a2-a2bacd3ea76e",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "L1GhlvZEQH8oAJBp",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "model": "amazon.titan-embed-text-v2:0"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsAwsBedrock",
      "typeVersion": 1,
      "position": [
        460,
        140
      ],
      "id": "24df91dc-6bb0-4974-9801-c648d947d8d5",
      "name": "Embeddings AWS Bedrock",
      "credentials": {
        "aws": {
          "id": "6T2xvOK3N6VS10Dj",
          "name": "AWS account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        660,
        140
      ],
      "id": "c6f91129-1efb-4045-ae5c-0f54aff96630",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 3000,
        "chunkOverlap": 300,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        760,
        360
      ],
      "id": "4f2ce44e-315e-463a-a167-5c1c0e1250f5",
      "name": "Recursive Character Text Splitter"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings AWS Bedrock": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "596dc06d-c855-4b7e-a1db-d4b3fb1d1bd2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "56488f7ae4747a9f3ce09683c4c0551939170e3869a4910a27cef2250c1512f4"
  },
  "id": "l50s6yH9U3kCBSPG",
  "tags": []
}